
body {
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    .roboto-thin {
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      font-style: normal;
    }
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

#navbar {
  background-color: #546e7a;
  height: 60px;
  position: sticky;
  left: 0px;
  top: 0px;
  width: 100%;
}

#navbar .navbar-brand {
  width: 30%;
  /* background-color: blue; */
  float: left;
  padding-top: 16px;
  padding-left: 15px;
  color: #ecebeb;
  font-weight: bold;
}

#navbar .nav {
  width: 70%;
  /* background-color: red; */
  float: left;
}

#navbar .nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  margin-top: 15px;
}

#navbar .nav ul li {
  float: left;
}

#navbar .nav ul li a:link,
#navbar .nav ul li a:visited {
  color: #ffffff;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 6px;
}

#navbar .nav ul li a:hover {
  background-color: #059205;
}

.center{
  text-align: center;
}

.copy_rights{
  background-color: #c5c1c1;
  color: #000000;
  opacity: 0.6;
  position: fixed;
  left: 500px;
  top: 95vh;
  width: 300px;
  text-align: center;

}

.box{
  width: 300px;
  padding: 20px;
  margin: 20px;
  background-color: #9e9a9a;
  display: block;
  height: 350px;
  float: left;
}

#japan{
  /* display: none; */
  visibility: hidden;
}

/* .capital{
  background-color: #e63a3a;
  color: #ffffff;
 width: 160px;
 height: 70px;
 position: relative;
 top: 80px;
  left: 40px ;
} */

:root{
  --header-color: #9e0e0e;
}